<div class="container">
<h1><%=@game.name%></h1>

<img src="<%=@game.image["small_url"]%>">

<% if logged_in? %>
<button id="show-form">Add To Backlog</button>
<%= erb :_new_item %>
<% end %>

<%= @game.description %>

</div>
