<div class="container">
<h1><%=@game.name%></h1>

<img src="<%=@game.image["small_url"]%>">

<% if logged_in? %>
<a href='/user/<%=current_user.id%>/backlog_item/new'> Add to Backlog</a>
<% end %>

<%= @game.description %>

</div>
