<%=erb :_errors %>

<form method="post" action="/users/<%=current_user.id%>/games/<%=@game.id%>/backlog_items" id="backlog-form">
  <label for="backlog_item[hours_played]">Hours Played</label>
  <input type="number" value="0" name="backlog_item[hours_played]">
  <label for="backlog_item[user_rating]">User Rating</label>
  <input type="number" value="0" name="backlog_item[user_rating]">
  <input class="waves-effect waves-light btn" type="submit" value="Add">
</form>
